{% extends 'materialprice/base.html' %}


{% block content %}

<h1>zzz PO</h1>
<table>
{% for item in item_list %}

    <tr>
    <td>  {{ item.vendor}}</td>
    <td>        {{ item.podate |date:"Y-m-d"}}</td>
    <td>  {{ item.part  }}</td>
    <!-- <td>  {{ item.spec  }}</td> -->
    <td>  {{ item.qty  }}</td>
    <td>  {{ item.unit  }}</td>
    <td>  {{ item.price  }}</td>


    </tr>


{% endfor %}
</table>

<!-- <h1> debug...</h1>
{% for item in item_list %}
      {{ item.vendor}}&nbsp;
      {{ item.podate |date:"Y-m-d"}}&nbsp;
      {{ item.part  }}
      {{ item.spec  }}
      {{ item.qty  }}
      {{ item.unit  }}
      {{ item.price  }}
    <br>
{% endfor %} -->

{% endblock %}
