.current_user{
	color: blue;
	margin: 9px 0px 0px 8px;
}

h1{
		margin: 3px 0px 3px 0px;
}

body, html {
		padding: 0px 3px 10px 3px;
		/*background-color: #D8DBE2;*/
		/*background:#fff url(images/bg.jpg) repeat-x;}*/
}
table {
color: black; /* Lighten up font color */
border-color: black black black black ;
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 95%;
font-size:95%;
border-collapse:
collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: left; 
/*text-align: center; /* Center our text */*/
}

      .info{
	    padding: 30px 30px 30px 30px;
	    font-size:16px
	  }
	li {
    padding-left: 1em;
    text-indent: -.7em;
    color:green;
}
