{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page_title }}</title>    
    <link rel="stylesheet" type="text/css" href="{% static 'app001/style.css' %}" />

<body>
    <div class="header">
        <div class="logo">
            <img src="/static/app001/images/logo.jpg" alt="logo" title="logo"/>
        </div>
    </div>
    <div class='current_user'>
          當前用戶: {{ current_user }} &nbsp;<a href="/app001/logout">登出</a>
    </div>    
    <div class='page_title'>
        <h1><a href='..'>APP001</a> |{{ page_title }}
        </h1>
    </div>
    <div class='page_data'>
        {% block content %}
        {% endblock %}
    </div>
</body>




